@model PackageDelivery.GUI.Models.Core.AddressModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoCalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoInmueble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoInmueble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPersona)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
