@model PackageDelivery.GUI.Models.Core.AddressModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Direcciones</h4>
    <hr />
    <dl class="dl-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <dt>
                @Html.DisplayNameFor(model => model.TipoCalle)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TipoCalle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>
        </div>

        <div class="col-sm-6">
            <dt>
                @Html.DisplayNameFor(model => model.TipoInmueble)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TipoInmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Barrio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Barrio)
            </dd>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>
        </div>

        <div class="col-sm-6">
            <dt>
                @Html.DisplayNameFor(model => model.Actual)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Actual)
            </dd>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <dt>
                @Html.DisplayNameFor(model => model.PersonaName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PersonaName)
            </dd>
        </div>

        <div class="col-sm-6">
            <dt>
                @Html.DisplayNameFor(model => model.MunicipioName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MunicipioName)
            </dd>
        </div>
    </div>
</dl>
</div>
<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'">Editar</button>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index")'">Volver</button>
</p>
